:root{
    --color-primary: hsl(193, 80%, 35%);
    --color-secondary: hsl(218, 100%, 16%);
    --color-light: hsl(212, 23%, 87%, 1);
    --color-black: hsl(226, 60%, 10%);
    --background-transparent-color: hsla(0, 0%, 0%, 0.65);
}
