/* Header */
header {
    background-color: var(--color-black);
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 100;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

header nav a {
    color: var(--color-primary);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

header nav a:hover {
    background-color: rgba(255, 255, 255, 0.13); 
    color: var(--color-primary);
    transform: translateY(-2px);
}



/*  Body & Container */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}



main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.text-box {
    background: var(--background-transparent-color);
    color: var(--color-light);
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    height: 60%;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.4);
}

.text-box p {
    line-height: 1.8;
    margin-bottom: 1rem;
}

.text-box h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Buttons*/
button {
    margin-top: 10px;
    color: var(--color-light);
    background: var(--color-primary);
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
}

button:hover {
    background: var(--color-secondary);
    transform: translateY(-2px);
}

/* footer */
footer {
    background-color: var(--color-black);
    color: var(--color-light);
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 3rem;
    font-family: 'Montserrat', sans-serif;
    height: 10px;
}

footer p {
    font-size: 0.95rem;
}
