html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* main  */
.site-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1.5rem;
}

/* Hero centrado */
.hero-section {
    display: flex;
    justify-content: center;
}

/* Caja de texto principal */
.text-box {
    background: var(--background-transparent-color);
    color: var(--color-light);
    text-align: center;
    padding: 2rem;
    margin-top: 6rem;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.4);
}

.text-box h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-box p {
    line-height: 1.8;
    margin-bottom: 1rem;
}

/* Botones */
button {
    margin-top: 10px;
    color: var(--color-light);
    background: var(--color-primary);
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: var(--color-secondary);
    transform: translateY(-2px);
}

/* Cards debajo del hero */
.cards-container {
    display: flex;
    gap: 1rem;
    margin-top: 6rem;
}

.card {
    flex: 1 1 0;
    background: var(--background-transparent-color);
    color: var(--color-light);
    padding: 1.5rem 1rem;
    border-radius: 10px;
}

/* imagen dentro de cada card*/
.card-image {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0.75rem;
}

.card-h3 {
    color: var(--color-light);
    font-weight:bold ;
}

/* Footer */
.site-footer {
    background-color: var(--color-black);
    color: var(--color-light);
    text-align: center;
    padding: 2rem 1rem;
}

.site-footer p {
    font-size: 0.95rem;
}