body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-image: url('../img/abstract-21613_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: var(--color-light);
    font-family: 'Montserrat', sans-serif;
}