body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    position: relative;
    overflow-x: hidden;

    background-image: url('../img/abstract-21613_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Capa encima del fondo: leve desenfoque i un pco oscurecio*/
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;
    filter: blur(2px) brightness(0.8);
    z-index: -1;
}
